@media screen and (max-width: 910px) {

    html body {
        min-width: 480px;
    }
    .container {
        width: 440px;
        margin: 0 auto;
    }
    .container .container {
        width: auto;
    }
    .only-desktop {
        display: none;
    }
    .only-tablet {
        display: none;
    }
    .only-mobile {
        display: block;
    }
    .only-desktop-or-tablet {
        display: none;
    }
    .only-tablet-or-mobile {
        display: block;
    }
    .menu-link {
        margin-right: 40px;
    }
    #header {
        padding-top: 0;
        margin-top: 0;
    }
    #header .mobile .popup .search {
        float: none;
        margin: 85px 25px 20px;
    }
    #header .mobile .popup .search:after {
        content: '';
        display: table;
        clear: both;
    }
    #header .mobile .popup .search input[type="text"] {
        width: 212px;
    }
    #header .mobile .logo {
        float: right;
        margin: 19px 0;
    }
    #header .mobile .logo img {
        height: 76px;
        width: auto;
    }
    #categories .item,
    #categories.small .item {
        height: 52px !important;
        margin: 0 0 10px !important;
        float: none;
        width: auto;
    }
    #categories .item:last-child,
    #categories.small .item:last-child {
        margin-bottom: 0;
    }
    #categories .col,
    #categories.small .col {
        margin: 0;
        float: none;
    }
    #categories .item .img img,
    #categories.small .item .img img {
        width: 100px;
    }
    #categories .item .img,
    #categories.small .item .img {
        right: 15px;
        left: auto;
        width: auto;
        bottom: auto;
        top: 10px;
    }
    #advantages .items {
        flex-wrap: wrap;
        margin-bottom: -40px;
    }
    #advantages .items .item {
        width: 145px;
        padding: 0 0 0 75px;
        text-align: left;
        margin-bottom: 40px;
    }
    #advantages .items .item:after {
        top: 50%;
        left: -27px;
        transform: scale(0.6);
        margin: -60px 0 0;
    }
    .products-list .item {
        width: auto;
    }
    .products-list {
        display: block;
    }
    .products-list .item .img {
        float: left;
        width: 68px;
        height: 68px;
    }
    .products-list .item .img img {
        max-width: 100%;
        height: auto;
    }
    .products-list .item {
        padding: 20px 0;
        position: relative;
        height: auto;
        margin: 0;
        border-bottom: 1px solid #ffeaea;
    }
    .products-list .item:first-child {
        border-top: 1px solid #ffeaea;
    }
    .products-list .item:last-child {
        margin-bottom: 20px;
    }
    .products-list .item .info {
        background: none;
    }
    .products-list .item .img a {
        height: 68px;
    }
    .products-list .item .img img {
        max-width: 68px;
        max-height: 68px;
        border-radius: 8px;
    }
    .products-list .item .img {
        border-radius: 8px;
        border: 2px solid #ffd2d2;
    }
    .products-list .item .info {
        margin-left: 88px;
        padding: 0;
        border-radius: 0;
    }
    .products-list .item .new,
    .products-list .item .hit,
    .products-list .item .discount {
        position: static;
        line-height: 20px;
        font-size: 11px;
        padding: 0 10px;
        margin: 0 4px 4px 0;
        display: inline-block;
    }
    .products-list .item .price {
        line-height: 1.1;
    }
    .products-list .item .buy {
        display: block;
        margin: 0;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -22px;
        border-radius: 0;
    }
    .products-list .item .buy .buy-one-click {
        display: none;
    }
    .products-list .item-inner:hover {
        box-shadow: none;
    }
    .products-list .item .name {
        margin-right: 60px;
    }
    #reviews .slider .img img {
        width: 80px;
        height: 80px;
    }
    #reviews .slider .author img {
        width: 30px;
        height: 30px;
    }
    #reviews .slider .author {
        left: 86px;
        top: 100px;
    }
    #reviews .slider .center .img {
        margin-left: -15px;
    }
    #reviews .slider .center .author {
        top: 129px;
        left: 112px;
    }
    #reviews .slider {
        width: 440px;
    }
    #reviews .slider .owl-item.center {
        width: 170px !important;
    }
    #footer .menu {
        display: none;
    }
    #footer .social {
        float: right;
        margin: 13px 0 20px;
    }
    #footer .contacts {
        margin-bottom: 0;
    }
    #footer .logo img {
        width: auto;
    }
    #certificates .owl-carousel .owl-item {
        width: 280px !important;
        padding: 25px 0;
    }
    #certificates .owl-carousel img {
        width: 100%;

        -webkit-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
        -moz-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
        box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
    }
    .articles-list .item .text {
        display: none;
    }
    .articles-list .item .img img {
        width: 115px;
        height: 115px;
    }
    .articles-list .item .info {
        margin-left: 145px;
        padding-top: 13px;
    }
    #cart-page .box {
        width: auto !important;
        float: none !important;
        margin-bottom: 30px;
    }
    #cart-page .box:last-child {
        margin-bottom: 0;
    }
    #cart-page .list .item .info {
        width: 305px;
    }
    #cart-page .box.right .list .info {
        width: 294px !important;
    }
    #contacts-page .info {
        box-shadow: none;
        margin: 0 0 30px;
        padding: 0;
        position: static;
    }
    #contacts-page .info .inner {
        padding: 0;
    }
    #delivery-page .left img {
        max-width: 100%;
        height: auto;
    }
    .checkout-form {
        width: auto;
    }
    .checkout-form .contacts > .form-group {
        float: none;
        width: auto;
        margin: 0 0 25px;
    }
    .checkout-form .contacts > .form-group:last-child {
        margin-bottom: 0;
    }
    .checkout-form .form-actions {
        text-align: center;
    }
    #product-page .right {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }
    #product-page .left {
        float: none;
        width: auto;
    }
    .block-title {
        margin-bottom: 20px;
    }
    .reviews-list .item .img img {
        width: 80px;
        height: 80px;
    }
    .reviews-list .item .author img {
        width: 28px;
        height: 28px;
    }
    .reviews-list .item .author {
        left: 59px;
        top: 59px;
    }
    .reviews-list .info {
        margin-left: 110px;
        padding-top: 0;
    }

    .ui-dialog {
        max-width: 400px;
    }

    .cities-form .item-cities li {
        width: 50%;
    }

    .products-list .item .baloons {
        position: static;
        text-align: left;
        justify-content: flex-start;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

}