html body {
    background: #fff;
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.35;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}
.only-desktop {
    display: block;
}
.only-tablet {
    display: none;
}
.only-mobile {
    display: none;
}
.only-desktop-or-tablet {
    display: block;
}
.only-tablet-or-mobile {
    display: none;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
h1 {
    margin: 26px 0;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    margin-bottom: 15px;
    font-size: 25px;
}
h3 {
    margin-bottom: 15px;
    font-size: 20px;
}
a {
    outline: none !important;
    text-decoration: underline;
    color: #e25a76;
}
p {
    margin-bottom: 15px;
}
b, strong {
    font-weight: bold;
}
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button, button {
    background: #e25a76;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 42px;
    padding: 0 17px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto, Arial, sans-serif;
    border: none;
    cursor: pointer;
    outline: none !important;
}
.button.big, button.big {
    line-height: 50px;
    height: 50px;
    padding: 0 26px;
}
.button.medium, button.medium {
    line-height: 47px;
    height: 47px;
    padding: 0 22px;
    font-size: 16px;
}
.button.white, button.white {
    border: 2px solid #df5672;
    color: #df5672;
    background: #fff;
}
.button.shadow, button.shadow {
    -webkit-box-shadow: 0 5px 13px rgba(90, 17, 32, .35);
    -moz-box-shadow: 0 5px 13px rgba(90, 17, 32, .35);
    box-shadow: 0 5px 13px rgba(90, 17, 32, .35);
}
button {
    height: 42px;
    line-height: inherit !important;
}
input[type="text"],
input[type="password"] {
    padding: 0;
    border: 1px solid #ffd2d2;
    height: 39px;
    border-radius: 8px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    text-indent: 14px;
    color: #555555;
}
textarea {
    padding: 14px;
    border: 1px solid #ffd2d2;
    border-radius: 8px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: #555555;
    width: 100%;
}
#header .box-1 {
    background: #ffd2d2 none repeat scroll 0 0;
}
#header .left {
    float: left;
}
#header .right {
    float: right;
}
#header .menu li {
    float: left;
}
#header .menu a {
    color: #000;
    display: block;
    font-weight: 500;
    line-height: 57px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
#header .menu a.active:after,
#header .menu a:hover:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #e25a76;
    bottom: 0;
    left: 0;
}
#header .menu li {
    margin-right: 27px;
}
#header .menu li:first-child {
    margin-left: 0;
}
#header .menu li:last-child {
    margin-right: 0;
}
#header .lang {
    float: left;
    font-weight: 500;
    margin-left: 42px;
}
#header .lang a {
    color: #e25a76;
    display: block;
    float: left;
    line-height: 56px;
    text-decoration: none;
    margin-right: 8px;
    font-size: 18px;
}
#header .lang a:hover {
    text-decoration: underline;
}
#header .lang a:last-child {
    margin-right: 0;
}
#header .lang a.active {
    color: #000000;
}
#header .user-links {
    float: left;
}
#header .user-links li:last-child {
    margin-right: 0;
}
#header .user-links li {
    float: left;
    margin-right: 17px;
}
#header .user-links a {
    display: block;
    line-height: 56px;
    color: #000;
    text-decoration: none;
}
#header .user-links a:hover {
    text-decoration: underline;
}
#header .cart {
    display: block;
    float: left;
    line-height: 56px;
    margin-left: 21px;
}
#header .cart .icon {
    float: left;
    width: 40px;
    height: 40px;
    background: #e25a76;
    border-radius: 100px;
    margin: 9px 11px 0 0;
    position: relative;
}
#header .cart .value {
    float: left;
}
#header .cart .icon:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background: url(/img/site/img.png) no-repeat;
    margin: -15px 0 0 -15px;
}
#header .cart .icon:before {
    content: '';
    position: absolute;
    background: #84c834;
    width: 13px;
    height: 13px;
    border-radius: 100px;
    right: 0;
    bottom: 0;
}
#header .box-2 {
    background: #ffeaea;
}
#header .logo {
    float: left;
    margin: 15px 0;
}
#header .logo img {
    display: block;
}
#header .location {
    margin: 41px 0 0 30px;
    float: left;
}
#header .location .address {
    margin-top: 3px;
}
#header .location .city a {
    font-weight: bold;
    text-decoration: none;
}
#header .location .city a:hover {
    text-decoration: underline;
}
#header .search input[type="text"] {
    border: 1px solid #e25a76;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    background: none;
    border-radius: 100px 0 0 100px;
    height: 40px;
    width: 314px;
    font-size: 16px;
    color: #e25a76;
    text-indent: 23px;
}
#header .search {
    float: left;
    margin: 38px 0 35px 52px;
}
#header .search .form-group {
    margin: 0;
    float: left;
}
#header .search button {
    float: left;
    border: none;
    padding: 0;
    text-indent: -9999px;
    background: #e25a76;
    width: 53px;
    height: 42px;
    border-radius: 0 100px 100px 0;
    position: relative;
}
#header .search button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    background: url(/img/site/img.png) no-repeat scroll -30px 0;
}
#header .social {
    float: left;
    margin: 39px 0 39px 31px;
}
#header .social a:last-child {
    margin-right: 0;
}
#header .social a {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    margin-right: 4px;
}
#header .social a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    background: url(/img/site/img.png) no-repeat scroll 0 -30px;
    width: 60px;
    height: 60px;
}
#header .social a.ig:after {
    background-position: -60px -30px;
}
#header .social a.wa:after {
    background-position: -120px -30px;
}
#header .social a.tg:after {
    background-position: -180px -30px;
}
#header .contacts {
    float: right;
    margin: 12px 0;
}
#header .contacts .phone {
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    line-height: 1.15;
}
#header .contacts .call-me {
    border: 2px solid #e25a76;
    border-radius: 100px;
    color: #e25a76;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 7px;
}
#header .contacts .call-me:hover {
    background: #e25a76;
    color: #ffffff;
}
#categories {
    margin: 48px 0;
}
#categories .col {
    margin-right: 15px;
    float: left;
}
#categories .col:last-child {
    margin-right: 0;
}
#categories .item {
    width: 273px;
    height: 168px;
    margin-bottom: 15px;
    color: #000;
    text-decoration: none;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: block;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffeaea+0,f7c8c8+100 */
    background: #ffeaea; /* Old browsers */
    background: -moz-linear-gradient(top, #ffeaea 0%, #f7c8c8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffeaea 0%, #f7c8c8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffeaea 0%, #f7c8c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeaea', endColorstr='#f7c8c8', GradientType=0); /* IE6-9 */
}
#categories .item:hover, #categories .item.active {
    background: #df5672;
    color: #ffffff;
}
#categories .item:last-child {
    margin-bottom: 0;
}
#categories .item .name {
    margin: 16px 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#categories .item.big {
    height: 351px;
}
#categories .item .img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#categories .item .img img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
#advantages {
    margin: 48px 0;
}
#advantages .items {
    display: flex;
    justify-content: space-between;
}
#advantages .item {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    width: 220px;
    text-align: center;
    padding-top: 102px;
    line-height: 1.2;
}
#advantages .item:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background: url(/img/site/img.png) no-repeat scroll 0 -90px;
    margin: 0 0 0 -60px;
    top: -9px;
    left: 50%;
}
#advantages .item-2:after {
    background-position: -120px -90px;
}
#advantages .item-3:after {
    background-position: -240px -90px;
}
#advantages .item-4:after {
    background-position: -360px -90px;
}
#advantages .item-5:after {
    background-position: -480px -90px;
}
#hits,
#best-price {
    margin: 48px 0;
}
.block-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 26px;
    text-align: center;
    text-transform: uppercase;
}
.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products-list:after {
    content: "";
    width: 270px;
}
.products-list .item {
    border-radius: 8px;
    position: relative;
    width: 270px;
    margin-bottom: 30px;
    height: 378px;
}

.products-list .item .baloons {
    position:absolute;
    top:20px;
    right: -8px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.products-list .item .new,
.products-list .item .hit,
.products-list .item .discount {
    background: #1abee9;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 29px;
    padding: 0 20px;
    text-transform: uppercase;
    margin-bottom:10px;
    display:inline-block;
}
.products-list .item .hit {
    background: #7dcb21;
}
.products-list .item .discount {
    background: #cb2159;
}
.products-list .item .img {
    border: 2px solid #ffeaea;
    border-radius: 8px 8px 0 0;
}
.products-list .item .img .inner {
    width: 100%;
    display: table;
}
.products-list .item .img a {
    display: table-cell;
    height: 263px;
    vertical-align: middle;
}
.products-list .item .img img {
    display: block;
    margin: 0 auto;
    max-width: 210px;
    max-height: 210px;
}
.products-list .item .info {
    background: #ffeaea;
    padding: 19px 25px;
    border-radius: 0 0 8px 8px;
}
.products-list .item .name a {
    color: #000;
    text-decoration: none;
}
.products-list .item .name a:hover {
    text-decoration: underline;
}
.products-list .item .name {
    line-height: 1.2;
    font-size: 17px;
    margin-bottom: 3px;
}
.products-list .item .price {
    font-size: 22px;
    font-weight: bold;
    display: inline;
}
.products-list .item .old-price {
    display: inline;
    font-size: 17px;
    text-decoration: line-through;
    color: #7a7777;
    margin-left: 4px;
}
.products-list .item .buy {
    margin-top: 8px;
    display: none;
}
.products-list .item:hover .buy {
    display: block;
}
.products-list .item-inner:hover {
    border-radius: 8px;
    position: relative;
    z-index: 6;

    -webkit-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
    -moz-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
    box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
}
.products-list .item .buy-one-click {
    line-height: 42px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background: #e25a76;
    display: inline-block;
    padding: 0 17px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 100px;
    vertical-align: top;
    float: left;
}
.products-list .item .add-to-cart {
    height: 42px;
    width: 42px;
    border-radius: 100px;
    text-indent: -9999px;
    display: inline-block;
    background: #e25a76;
    vertical-align: top;
    position: relative;
    float: right;
}
.products-list .item .add-to-cart:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(/img/site/img.png) no-repeat;
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
}
.more-products .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.more-products {
    text-align: center;
}
#reviews {
    background: url('/img/site/reviews.jpg') no-repeat top;
    margin: 20px 0;
    padding: 30px 0;
}
#reviews .slider {
    max-width: 840px;
    margin: 0 auto;
}
#reviews .slider .img img {
    border-radius: 500px;
    width: 110px;
    height: 110px;
    border: 5px solid #ffd2d2;
    margin: 0 auto;
}
#reviews .slider .author img {
    width: 40px;
    height: 40px;
    border-radius: 500px;
}
#reviews .slider .owl-item {
    position: relative;
    width: 280px;
}
#reviews .slider .author {
    position: absolute;
    top: 120px;
    left: 160px;
}
#reviews .slider .name {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 12px 0;
    color: #a3a3a3;
}
#reviews .slider .center .img img {
    width: 190px;
    height: 190px;
}
#reviews .slider .img {
    margin-top: 40px;
}
#reviews .slider .center .img {
    margin-top: 0;
}
#reviews .slider .center .author img {
    width: 70px;
    height: 70px;
}
#reviews .slider .center .author {
    left: 169px;
    top: 129px;
}
#reviews .slider .center .name {
    color: #000;
    font-size: 18px;
}
#reviews .slider .text {
    opacity: 0;
    height: 50px;
}
#reviews .slider .center .text {
    opacity: 1;
    margin: 0 -120px;
    height: auto;
}
#reviews .slider .owl-item * {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.owl-dot {
    height: 15px;
    width: 15px;
    border: 2px solid #ffd6d6;
    border-radius: 100px;
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    background: #fff;
}
.owl-dot.active {
    background: #ffd6d6;
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-stage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.owl-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto !important;
}

#delivery-flowers {
    margin: 48px 0;
}
#delivery-flowers .left {
    float: left;
    width: 48.5%;
    text-align: justify;
}
#delivery-flowers .right {
    float: right;
    width: 48.5%;
}
#delivery-flowers .right img {
    border-radius: 10px;
    margin-top: 4px;
}
#footer {
    background: #ffd2d2;
    margin-top: 60px;
}
#footer .logo {
    float: left;
    margin: 30px 0;
}
#footer .logo img {
    display: block;
    height: auto;
    width: 100px;
}
#footer .menu {
    float: left;
    margin: 63px 0 63px 24px;
}
#footer .menu a {
    color: #735e5e;
    font-weight: 500;
    text-decoration: none;
}
#footer .menu li {
    float: left;
    margin-right: 20px;
}
#footer .menu li:last-child {
    margin-right: 0;
}
#footer .menu a:hover {
    color: #e25a76;
}
#footer .social {
    float: left;
    margin: 59px 0 30px 24px;
}
#footer .social a {
    width: 30px;
    height: 30px;
    float: left;
    background: url(/img/site/img.png) no-repeat scroll -60px 0;
    margin-right: 7px;
}
#footer .social a.fb {
    background-position: -90px 0;
}
#footer .social a.ig {
    background-position: -120px 0;
}
#footer .social a.wa {
    background-position: -150px 0;
}
#footer .social a.tg {
    background-position: -180px 0;
}
#footer .social a.vb {
    background-position: -210px 0;
}
#footer .social a:last-child {
    margin-right: 0;
}
#footer .contacts {
    float: right;
    margin: 26px 0;
    text-align: center;
}
#footer .contacts .phone {
    font-size: 19px;
    font-weight: 500;
    line-height: 1.18;
}
#footer .contacts .call-me {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: #e25a76;
    line-height: 38px;
    padding: 0 17px;
    border: 2px solid #e25a76;
    border-radius: 100px;
    text-decoration: none;
    margin-top: 7px;
}
#footer .contacts .call-me:hover {
    background: #e25a76;
    color: #ffffff;
}

#categories.small .item.big {
    height: 119px;
}
#categories.small .item.big .img img {
    height: auto;
    width: auto;
}
#categories.small .item.big .img {
    width: 115px;
    right: 0;
    left: auto;
    bottom: 0;
    height: auto;
    top: auto;
}
#categories.small .item {
    height: 52px;
}
#categories.small .item .img {
    width: 120px;
    left: auto;
    right: -42px;
    bottom: auto;
    top: 0;
    height: 100%;
}
#categories.small .item .img img {
    height: auto;
}
#categories.small .item .name {
    position: relative;
    z-index: 2;
    text-shadow: 1px 0 #ffeaea;
}
#categories.small .item:hover .name {
    text-shadow: none;
}

#breadcrumb {
    color: #777;
    margin: 48px 0 30px;
}
#breadcrumb li {
    display: inline-block;
}
#breadcrumb li:after {
    content: '/';
    margin: 0 5px 0 10px;
}
#breadcrumb li:last-child:after {
    display: none;
}
#about-page .item .left {
    float: left;
    width: 48.5%;
}
#about-page .item .right {
    float: right;
    width: 48.5%;
}
#about-page .item {
    margin: 40px 0;
}
#about-page .item:first-child {
    margin-top: 0;
}
#about-page .item:last-child {
    margin-top: 0;
}
#about-page .footer-text {
    margin-top: 35px;
}
#certificates {
    margin: 48px 0;
}
#certificates .items {
    display: flex;
    justify-content: space-between;
}
#certificates .item img {
    display: block;
}
#certificates .item {
    -webkit-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
    -moz-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
    box-shadow: 0 0 24px 1px rgba(65, 56, 58, .35);
}
.articles-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.articles-list .item {
    width: 50%;
    margin-bottom: 40px;
}
.articles-list .item .img {
    float: left;
}
.articles-list .item .img img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 500px;
    border: 5px solid #ffd3d3;
}
.articles-list .item .info {
    margin: 0 30px 0 200px;
}
.articles-list .item .name a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    color: #000;
    text-decoration: none;
}
.articles-list .item .date {
    color: #888;
    font-size: 15px;
    margin: 8px 0;
}
.articles-list .item .text {
    line-height: 1.25;
}
#cart-page .box {
    width: 420px;
    float: left;
}
#cart-page .box.right {
    float: right;
}
#cart-page .list .img img {
    width: 68px;
    height: 68px;
    border: 2px solid #ffd2d2;
    border-radius: 5px;
    display: block;
}
#cart-page .list .name a {
    color: #222;
    font-size: 17px;
    text-decoration: none;
}
#cart-page .list .price {
    font-size: 22px;
    font-weight: bold;
    display: inline;
    line-height: 1.1;
}
#cart-page .list .balls {
    display: inline;
    font-size: 14px;
    color: #666;
    line-height: 1.1;
}
#cart-page .list .delete a {
    width: 30px;
    height: 30px;
    background: url(/img/site/img.png) no-repeat scroll -270px 0;
    text-indent: -9999px;
    display: block;
}
#cart-page .list .item {
    display: flex;
    justify-content: space-between;
    margin: 18px 0;
}
#cart-page .list .item:first-child {
    margin-top: 0;
}
#cart-page .list .item:last-child {
    margin-bottom: 0;
}
#cart-page .list .item .name {
    margin-bottom: 4px;
}
#cart-page .list .item .info {
    width: 290px;
    margin: 10px 0;
}
#cart-page .list .delete {
    margin: 21px 0;
}
#cart-page .box .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
#cart-page .list .item:first-child {
    margin-top: 0;
}
#cart-page .list .delete:last-child {
    margin-bottom: 0;
}
#cart-page .list .buy a {
    background: #e25a76;
    border-radius: 100px;
    display: block;
    height: 42px;
    width: 42px;
    position: relative;
    text-indent: -9999px;
    vertical-align: top;
}
#cart-page .list .buy a:after {
    background: url("/img/site/img.png") no-repeat;
    content: "";
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}
#cart-page .list .item .buy {
    margin: 15px 0;
}
#cart-page .box.right .list .info {
    width: 280px;
}
#cart-page .total {
    border-top: 1px solid #ffd2d2;
    margin: 25px 0;
    padding: 20px 0 0;
    width: 420px;
    font-size: 18px;
    font-weight: bold;
}
#cart-page .total .name {
    float: left;
    width: 220px;
    margin-right: 10px;
}
#cart-page .total .item {
    margin: 6px 0;
}
#cart-page .total .item:first-child {
    margin-top: 0;
}
#cart-page .total .item:last-child {
    margin-bottom: 0;
}
#contacts-page .map,
#contacts-page .map > ymaps {
    background: #eee none repeat scroll 0 0;
    height: 450px !important;
    width: 100% !important;
}
#contacts-page .info {
    position: absolute;
    background: #fff;
    top: 82px;
    left: 100px;
    width: 472px;
    z-index: 10;
}
#contacts-page .container {
    position: relative;
}
#contacts-page .info .inner {
    padding: 26px 30px;
}
#contacts-page .info {
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .45);
    -moz-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .45);
    box-shadow: 0 0 24px 1px rgba(65, 56, 58, .45);
}
#contacts-page .info .item {
    padding-left: 32px;
    margin: 17px 0;
    position: relative;
}
#contacts-page .info .item:first-child {
    margin-top: 0;
}
#contacts-page .info .item:last-child {
    margin-bottom: 0;
}
#contacts-page .info .social {
    margin-top: 17px;
}
#contacts-page .info .item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background: url(/img/site/img.png) no-repeat scroll -300px 0;
    width: 30px;
    height: 30px;
    margin-top: -16px;
}
#contacts-page .info .item.phone:after {
    background-position: -330px 0;
    left: -3px;
}
#contacts-page .info .item.email:after {
    background-position: -360px 0;
    left: -3px;
}
#contacts-page .social a {
    width: 30px;
    height: 30px;
    float: left;
    background: url(/img/site/img.png) no-repeat scroll -60px 0;
    margin-right: 7px;
}
#contacts-page .social a.fb {
    background-position: -90px 0;
}
#contacts-page .social a.ig {
    background-position: -120px 0;
}
#contacts-page .social a.wa {
    background-position: -150px 0;
}
#contacts-page .social a.tg {
    background-position: -180px 0;
}
#contacts-page .social a.vb {
    background-position: -210px 0;
}
#contacts-page .social a:last-child {
    margin-right: 0;
}
#contacts-page .info .social .label {
    margin-bottom: 12px;
}
#bnrs {
    margin: 48px 0;
}
#bnrs img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
#left {
    float: left;
    width: 270px;
}
#center {
    float: right;
    width: 870px;
}
.filters-form {
    border: 2px solid #ffeaea;
    border-radius: 8px;
}
.filters-form .box {
    border-bottom: 2px solid #ffeaea;
    padding: 16px 17px;
}
.filters-form .box:last-child {
    border-bottom: none;
}
.filters-form .box-content {
    margin: 18px 14px 0;
}
.filters-form .box.closed .box-content {
    display: none;
}
.filters-form .box > label {
    display: block;
    position: relative;
    cursor: pointer;
}
.filters-form .box > label:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    width: 15px;
    height: 9px;
    background: url(/img/site/img.png) no-repeat scroll -300px -30px;
    right: 0;
}
.filters-form .box.closed > label:after {
    background-position: -330px -30px;
}
.filters-form .between {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.filters-form .between input,
.filters-form .between label {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    text-indent: 0;
}
.filters-form .between input:first-child,
.filters-form .between label:first-child {
    margin-left: 0;
}
.filters-form .between input:last-child,
.filters-form .between label:last-child {
    margin-right: 0;
}
.filters-form .between input {
    padding: 0;
    border: 1px solid #ffd2d2;
    height: 29px;
    width: 58px;
    border-radius: 100px;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}
.filters-form [data-ui-slider] {
    height: 5px;
    background: #cac9c9;
    margin: 20px 0 8px;
}
.filters-form .ui-slider-horizontal {
    position: relative;
}
.filters-form .ui-slider-horizontal .ui-slider-handle {
    margin-left: -7px;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background: #df5672;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -7px;
}
.filters-form .ui-slider-horizontal .ui-slider-range {
    background: #ffd2d2;
    height: 100%;
    position: absolute;
}
.filters-form .colors input {
    display: none;
}
.filters-form .colors label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    padding: 0;
}
.filters-form .colors label:after {
    display: none;
}
.filters-form .colors input:checked + label:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    background: url(/img/site/img.png) no-repeat scroll -240px -30px;
    display: block;
}
.filters-form .colors .form-group {
    display: inline-block;
    margin: 5px 6px;
}
.filters-form .colors {
    text-align: center;
}
.filters-form .colors {
    margin: -6px 0;
}
#filters-form-color-1 + label {
    background: #f54d4d;
}
#filters-form-color-2 + label {
    background: #65d9f7;
}
#filters-form-color-3 + label {
    background: #ba54f5;
}
#filters-form-color-4 + label {
    background: #7dcb21;
}
#filters-form-color-5 + label {
    background: #f0df34;
}
#filters-form-color-6 + label {
    background: #fda04a;
}
#filters-form-color-7 + label {
    background: #402eea;
}
#filters-form-color-8 + label {
    background: #f8cdcd;
}
.filters-form .checkboxes .form-group {
    margin: 8px 0;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    display: block;
}
input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/img/site/img.png) no-repeat scroll -270px -30px;
    left: 0;
    top: 1px;
}
input[type="checkbox"]:checked + label:after {
    background-position: -270px -60px;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    display: block;
}
input[type="radio"] + label:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/img/site/img.png) no-repeat scroll -360px -30px;
    left: 0;
    top: 1px;
}
input[type="radio"]:checked + label:after {
    background-position: -360px -60px;
}
.filters-form .form-actions {
    text-align: center;
    padding: 5px 0 18px;
}
.filters-form .form-actions button {
    margin: 0 3px;
    vertical-align: top;
    height: 40px;
    border: 1px solid #e25a76;
    line-height: 40px;
}
.filters-form .form-actions button.clear {
    border: 1px solid #e25a76;
    background: #fff;
    color: #e25a76;
}
.filters-form input[type="checkbox"] + label {
    font-size: 14px;
}
.filters-form input[type="checkbox"] + label:after {
    top: -1px;
}
.pagination {
    padding: 0;
    margin: 0;
    text-align: center;
}
.pagination li {
    display: inline-block;
    vertical-align: top;
}
.pagination li a {
    display: block;
    min-width: 18px;
    line-height: 24px;
    border: 1px solid #de516b;
    border-radius: 100px;
    padding: 0 3px;
    color: #de516b;
    text-decoration: none;
    font-size: 14px;
}
.pagination li.prev a, .pagination li.next a {
    border-color: transparent;
    text-indent: -9999px;
    position: relative;
}
.pagination li.prev a:after, .pagination li.next a:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 11px;
    height: 17px;
    background: url(/img/site/img.png) no-repeat scroll -300px -60px;
    margin: -8px -6px;
}
.pagination li.next a:after {
    background-position: -330px -60px;
}
.pagination li.active a {
    background: #de516b;
    color: #fff;
}
#delivery-page .box {
    margin: 48px 0;
}
#delivery-page:first-child {
    margin-top: 0;
}
#delivery-page .box:last-child {
    margin-bottom: 0;
}
#delivery-page .text {
    text-align: justify;
}
#delivery-page .left {
    float: left;
    width: 48.5%;
}
#delivery-page .right {
    float: right;
    width: 48.5%;
}
#delivery-page .right img {
    border-radius: 10px;
    margin-top: 4px;
    max-width: 100%;
    height: auto;
}
#delivery-page .box:nth-child(even) .left {
    float: right;
}
#delivery-page .box:nth-child(even) .right {
    float: left;
}
.checkout-form {
    width: 629px;
    margin: 40px 0;
}
.checkout-form .form-group {
    margin: 7px 0;
}
.checkout-form .form-group:first-child {
    margin-top: 0;
}
.checkout-form .form-group:last-child {
    margin-bottom: 0;
}
#cart-page .checkout-form .total .name {
    width: 250px;
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
}
#cart-page .checkout-form .total .value {
    font-size: 22px;
    display: inline-block;
    line-height: 1;
    text-align: right;
    vertical-align: middle;
}
.checkout-form .form-actions button {
    width: 260px;
}
.checkout-form textarea {
    height: 162px;
}
.checkout-form > .form-group {
    margin: 30px 0;
}
.checkout-form > .form-group > label,
.checkout-form .contacts > .form-group > label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    display: block;
}
.checkout-form .contacts > .form-group {
    float: left;
    margin: 0 30px 0 0;
    width: 299px;
}
.checkout-form .contacts > .form-group:last-child {
    margin-right: 0;
}
.checkout-form .contacts input[type="text"] {
    width: 99.7%;
}
.checkout-form .recipient-contacts textarea {
    height: 110px;
}
.checkout-form .balls > label {
    margin-bottom: 4px;
}
.checkout-form .balls input[type="text"] {
    border-radius: 100px;
    display: inline-block;
    height: 29px;
    padding: 0;
    text-align: center;
    text-indent: 0;
    vertical-align: middle;
    width: 62px;
}
.checkout-form .balls .form-group {
    margin-top: 14px;
}
.checkout-form .balls .form-group label {
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;
}
#cart-page .checkout-form .total {
    margin: 0;
    padding: 15px 0 0;
}
#product-page .left {
    float: left;
    position: relative;
    width: 468px;
}
#product-slider {
    border: 1px solid #ffd2d2;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

#product-page .baloons {
    position:absolute;
    top:20px;
    right: -12px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#product-page .new, #product-page .hit, #product-page .discount {
    background: #1abee9 none repeat scroll 0 0;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 29px;
    padding: 0 20px;
    text-transform: uppercase;
    z-index: 5;
    margin-bottom:10px;
}
#product-page .hit {
    background: #7dcb21 none repeat scroll 0 0;
    top: 58px;
}
#product-page .discount {
    background: #cb2159 none repeat scroll 0 0;
    top: 58px;
}
#product-page .right {
    float: right;
    width: 670px;
}
#product-page h1 {
    text-align: left;
    margin: -5px 0 5px;
    padding: 0;
    font-size: 30px;
    text-transform: unset;
    letter-spacing: 0.5px;
}
#product-page .info .price {
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    vertical-align: top;
}
#product-page .info .old-price {
    font-size: 26px;
    display: inline-block;
    text-decoration: line-through;
    vertical-align: top;
    margin-left: 17px;
    color: #777777;
}
#product-page .info .balls {
    margin-top: -7px;
    font-size: 20px;
    font-weight: 500;
}
#product-page .info .composition {
    font-size: 16px;
    color: #666;
    margin: 11px 0;
}
#product-page .info .text {
    margin: 20px 0;
}
#product-page .info .advantages {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    font-weight: 500;
}
#product-page .info .advantages .item {
    position: relative;
    padding-left: 47px;
}
#product-page .info .advantages .item:after {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -30px;
    background: url(/img/site/img.png) no-repeat scroll -390px 0;
    width: 60px;
    height: 60px;
}
#product-page .info .advantages .item-2:after {
    background-position: -450px 0;
}
#product-page .info .advantages .item-3:after {
    background-position: -510px 0;
}
.add-to-cart-form .label {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 11px;
}
.add-to-cart-form .radios {
    font-size: 14px;
}
.add-to-cart-form .radios .form-group {
    display: inline-block;
    margin-right: 12px;
}
.add-to-cart-form .radios .form-group:last-child {
    margin-right: 0;
}
.add-to-cart-form .form-actions {
    margin-top: 28px;
}
.add-to-cart-form .form-actions button {
    width: 200px;
    margin-right: 8px;
    padding: 0;
}
#product-carousel img {
    border: 2px solid #ffd2d2;
    border-radius: 8px;
}
#reviews-page .add-review-link {
    max-width: 970px;
    margin: 0 auto 30px;
}
#reviews-page .add-review-link a {
    padding: 0 25px;
}
.reviews-list {
    max-width: 970px;
    margin: 0 auto;
}
.reviews-list .item {
    padding: 30px 0;
    border-bottom: 1px solid #ffd2d2;
}
.reviews-list .item:first-child {
    padding-top: 0;
}
.reviews-list .item:last-child {
    padding-bottom: 0;
    border: none;
}
.reviews-list .item:after {
    content: '';
    clear: both;
    display: table;
}
.reviews-list .item .img {
    float: left;
}
.reviews-list .item .img img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 500px;
    border: 5px solid #ffd2d2;
}
.reviews-list .item .author img {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 500px;
    border: 2px solid #ffd2d2;
}
.reviews-list .item .author {
    position: absolute;
    top: 110px;
    left: 110px;
}
.reviews-list .item {
    position: relative;
}
.reviews-list .info {
    margin-left: 201px;
    padding: 13px 0 0;
}
.reviews-list .info .name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.3px;
    display: inline-block;
    vertical-align: middle;
}
.reviews-list .info .text {
    margin-top: 8px;
}
.reviews-list .social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.85);
}
.reviews-list .social a {
    width: 30px;
    height: 30px;
    background: url(/img/site/img.png) no-repeat scroll -60px 0;
    margin-right: 7px;
    display: block;
}
.reviews-list .social a.fb {
    background-position: -90px 0;
}
.reviews-list .social a.ig {
    background-position: -120px 0;
}
.reviews-list .social a.wa {
    background-position: -150px 0;
}
.reviews-list .social a.tg {
    background-position: -180px 0;
}
.reviews-list .social a.vb {
    background-position: -210px 0;
}
.reviews-list .social a:last-child {
    margin-right: 0;
}
#similar-products {
    margin: 48px 0;
}

.not-results {
    font-size: 18px;
}

.ui-dialog {
    background: #fff none repeat scroll 0 0;
    z-index: 105;
    border-radius: 8px;
    position: absolute !important;
}
.ui-widget-overlay {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.ui-dialog.without-title .ui-dialog-title {
    display: none;
}
.ui-dialog.without-title .ui-dialog-titlebar {
    padding: 0;
}
.ui-dialog.without-title .ui-dialog-content {
    padding-top: 40px;
}
.ui-dialog-content {
    padding: 22px 40px 40px;
    min-height: 0 !important;
}
.ui-dialog-content .form-group {
    margin: 10px 0;
}
.ui-dialog-content .form-group:first-child {
    margin-top: 0;
}
.ui-dialog-content .form-group:last-child {
    margin-bottom: 0;
}
.ui-dialog-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
    display: block;
    text-align: center;
}
.ui-dialog-titlebar {
    padding: 40px 40px 0;
    cursor: move;
}
.ui-dialog-titlebar-close {
    position: absolute;
    right: 15px;
    top: 15px;
    background: url(/img/site/img.png) no-repeat scroll -420px -60px;
    height: 30px;
    width: 30px;
    padding: 0;
    text-indent: -9999px;
}
.ui-dialog-content .form-group input[type="text"],
.ui-dialog-content .form-group input[type="password"] {
    width: 99.6%;
    border-radius: 100px;
}
.ui-dialog .call-me-form {
    width: 270px;
    margin: 0 auto;
}
.ui-dialog .call-me-form .form-actions button {
    width: 100%;
}
.ui-dialog.without-close .ui-dialog-titlebar-close {
    display: none;
}

.your-city-form .form-actions button {
    width: 120px;
    padding: 0;
    text-align: center;
    margin: 0 2px;
}
.your-city-form .form-actions {
    text-align: center;
}
.your-city-form .form-actions button:first-child {
    margin-left: 0;
}
.your-city-form .form-actions button:last-child {
    margin-right: 0;
}

.password-recovery-form .item-text {
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
}
.password-recovery-form {
    width: 270px;
    margin: 0 auto;
}
.password-recovery-form .form-actions button {
    width: 100%;
}
.password-recovery-form .item-register-link {
    text-align: center;
    font-weight: 500;
    margin-top: 0;
}
.password-recovery-form .item-error {
    margin: 15px 0 2px;
    text-align: center;
    font-weight: 500;
}
.password-recovery-form .item-register-link a {
    text-decoration: none;
}
.password-recovery-form .item-register-link a:hover {
    text-decoration: underline;
}

.register-completed {
    text-align: center;
}
.register-completed a.button {
    padding: 0 40px;
}

.ui-dialog .register-form .form-actions button {
    width: 100%;
}

.register-form .form-group.item-error {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    font-weight: 500;
    line-height: 1.25;
    margin: 15px 0;
}
.register-form .form-group.item-error:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background: url(/img/site/img.png) no-repeat scroll -450px -60px;
    margin-top: -10px;
}
.register-form .item-social label {
    line-height: 1.25;
    color: #444;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 14px;
}
.register-form .form-group.item-social {
    margin-top: 15px;
    text-align: center;
}
.register-form .item-social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/site/img.png) no-repeat scroll -480px -60px;
    vertical-align: middle;
    margin-right: 1px;
    border-radius: 7px;
}
.register-form .item-social a:last-child {
    margin-right: 0;
}
.register-form .item-social a.fb {
    background-position: -510px -60px;
}

.ui-dialog .login-form .form-actions button {
    width: 100%;
}

.login-form .form-group.item-error {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    font-weight: 500;
    line-height: 1.25;
    margin: 15px 0;
}
.login-form .form-group.item-error:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    background: url(/img/site/img.png) no-repeat scroll -450px -60px;
    margin-top: -10px;
}
.login-form .item-social label {
    line-height: 1.25;
    color: #444;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 14px;
}
.login-form .form-group.item-social {
    margin-top: 15px;
    text-align: center;
}
.login-form .item-social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(/img/site/img.png) no-repeat scroll -480px -60px;
    vertical-align: middle;
    margin-right: 1px;
    border-radius: 7px;
}
.login-form .item-social a:last-child {
    margin-right: 0;
}
.login-form .item-social a.fb {
    background-position: -510px -60px;
}
.login-form .form-group.item-links {
    display: flex;
    justify-content: space-between;
    margin: 15px 5px;
}
.login-form .item-links a {
    font-size: 14px;
    text-decoration: none;
    display: block;
}
.login-form .item-links a:hover {
    text-decoration: underline;
}

.cities-form .form-group.item-cities {
    margin-top: 25px;
}
.cities-form .item-cities a {
    color: #222;
    text-decoration: none;
}
.cities-form .item-cities a:hover {
    color: #e25a76;
}
.cities-form .item-cities ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cities-form .item-cities li {
    margin: 3px 0;
    width: 33.33%;
    display: block;
}
.cities-form .item-cities li:last-child {
    margin-bottom: 0;
}
.cities-form .item-city input[type="text"] {
    max-width: 370px;
}


.h1__main-choice {
    margin-top: -1%;
    width: 47%;
    text-align: left;
    font-size: 28px;
}
.choice__main_date {

    margin-top: 2%;
    font-size: 15px;
    color: #a49a9a;
    font-weight: 400;

}
.choice__conten-left p {
    margin-bottom: 3%;
    font-size: 17px;
    color: #000;
}
.choice__content {

    margin-top: 2%;

}
.choice__conten-left {

    margin-top: 3%;

}
.choice__right-title {
    text-transform: uppercase;
    font-size: 22px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12%;
}
.choice__right-box {
    text-align: center;
    margin-bottom: 18%;
}

.choice__right-box img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 500px;
    border: 5px solid #ffd3d3;
    margin: 0 auto;
}

.choice__right-box1 {

    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-align: left !important;
    margin-top: 7%;
    display: block;
    line-height: 22px;
    margin-bottom: 4%;

}
.choice__right-box2 {
    font-size: 15px;
    color: #a49a9a;
    font-weight: 400;
    text-align: left;
}
.choice__right-box3 {
    font-size: 16px;
    color: #000;
    text-align: left;
}
.choice__main-img {
    width: 100% !important;
}

.super-image {
    width:100%;
    height:261px;
    background-size:cover;
    background-position:center;
}



.uploadbtn1 {
    opacity: 0;
    position: absolute;
    margin: -10% 27%;
    width: 51%;
    height: 41px;
    cursor: pointer;
}

.modal-dialog {
    width: 27% !important;
    margin: 6% auto !important;
}
.modal-header {
    padding: 15px;
    border-bottom: none !important;
}
.modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #000;
    margin-top: 6% !important;
}
.modal-header .close {
    margin-top: -2% !important;
    opacity: 1 !important;
}
.js-form {
    width: 84%;
    margin: -5% auto 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 3% !important;
    border-radius: 23px !important;
    border: 1px solid #f1b0bb !important;
}
.text-main-form {
    border-radius: 23px !important;
}
.btn_under-main p {

    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-right: 3%;
    padding-top: 2%;

}
.btn_under-main {

    margin-top: 6%;

}
.uploadbtn1 {
    border-radius: 23px !important;
    border: 1px solid #f1b0bb !important;
}
.uploadButton {

    font-size: 12px;
    font-weight: bold;
    color: #e25a76;
    border-radius: 23px !important;
    border: 1px solid #f1b0bb !important;
    padding: 3% 0%;
    text-align: center;
    width: 63%;
    position: relative;

}
.btn-bene8 {

    font-size: 16px;
    color: #fffefe;
    margin: 6% auto 9%;
    display: block;
    width: 100%;
    font-weight: bold;
    height: 50px;

}
.ul__main-pink {
    color: #e25a76;
}

.slim {
    display:block;
    border: 1px solid #ffd2d2;
    border-radius: 4px;
    overflow:hidden;
}

.btn_under-main p {
    display:block;
    float:none;
}

.loading {
    position:relative;
}

.loading::before {
    content:' ';
    display:block;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(255,255,255,0.5);
    z-index:90;
    position: absolute;
}

.modal {
    position:fixed;
    overflow-y:scroll;
    background:rgba(0,0,0,0.3);
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:99999;
}

.modal .modal-dialog {
    background:#FFF;
    padding:0px 20px;
    border-radius: 10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.4);
    padding-bottom:10px;
    width:500px!important;
}
.modal .modal-dialog .modal-header {
    position:relative;
}
.modal .modal-dialog .modal-header button {
    position:absolute;
    right:0;
    background:transparent;
    padding:0;
}

.modal .modal-dialog .row {
    display:flex;
    justify-content: space-between;
}

.modal .modal-dialog.loading {
    position:relative;

}

.modal .modal-dialog.loading::before {
    content:' ';
    z-index:5;
    display:block;
    position:absolute;
    left:0;right:0;top:0;bottom:0;
    background:rgba(255,255,255,0.3);
}
