@media screen and (max-width: 1200px) {

    html body {
        min-width: 910px;
    }
    .container {
        width: 870px;
        margin: 0 auto;
    }
    .container .container {
        width: auto;
    }
    .only-desktop {
        display: none;
    }
    .only-tablet {
        display: block;
    }
    .only-mobile {
        display: none;
    }
    .only-desktop-or-tablet {
        display: block;
    }
    .only-tablet-or-mobile {
        display: block;
    }
    #left {
        float: none;
        width: auto;
    }
    #center {
        float: none;
        width: auto;
    }
    .menu-link span {
        display: block;
        height: 3px;
        background: #e25a76;
        border-radius: 2px;
        margin: 4px 0;
    }
    .menu-link {
        width: 22px;
        display: block;
        float: left;
        margin: 45px 90px 45px 0;
    }
    #header .mobile {
        background: #ffd2d2 none repeat scroll 0 0;
    }
    #header .mobile .location {
        margin: 34px 0;
    }
    #header .mobile .search {
        float: right;
    }
    #header .mobile .popup {
        position: fixed;
        left: 0;
        top: 0;
        width: 320px;
        background: #ffeaea;
        z-index: 30;
        height: 100%;
        overflow: auto;
        display: none;
    }
    #header .mobile .popup-overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 29;
        background: rgba(51, 51, 51, 0.4);
        display: none;
    }
    #header .mobile .popup .logo {
        float: none;
        padding: 32px 0 25px;
        display: block;
        margin: 0;
    }
    #header .mobile .popup .logo img {
        margin: 0 auto;
    }
    #header .mobile .popup .menu li {
        float: none;
        margin: 0;
    }
    #header .mobile .popup .menu li a:after {
        display: none;
    }
    #header .mobile .popup .menu li a {
        line-height: 45px;
        padding: 0 25px;
    }
    #header .mobile .popup .menu li a:hover,
    #header .mobile .popup .menu li a.active {
        background: #ffd2d2;
    }
    #header .mobile .popup .user-links {
        float: none;
    }
    #header .mobile .popup .menu {
        float: none;
    }
    #header .mobile .popup .user-links li:last-child {
        margin-right: 0;
    }
    #header .mobile .popup .user-links li {
        float: none;
        display: inline-block;
        margin: 0 25px 0 0;
    }
    #header .mobile .popup .user-links a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.3;
    }
    #header .mobile .popup .user-links li:last-child {
        margin-right: 0;
    }
    #header .mobile .popup .user-links {
        margin: 15px 25px;
    }
    #header .mobile .popup .cart {
        margin-left: 25px;
        float: none;
        display: block;
    }
    #header .mobile .popup .social {
        margin: 15px 0 15px 25px;
        float: none;
    }
    #header .mobile .popup .social:after,
    #header .mobile .popup .cart:after,
    #header .mobile .popup .lang:after {
        content: '';
        clear: both;
        display: table;
    }
    #header .mobile .popup .lang a {
        float: none;
        margin: 0 6px 0 0;
        display: inline-block;
        line-height: 1.3;
    }
    #header .mobile .popup .lang a:last-child {
        margin-right: 0;
    }
    #header .mobile .popup .lang {
        float: none;
        margin: 15px 0 15px 25px;
    }
    #header .mobile .popup .contacts {
        float: none;
        margin: 15px 25px;
        width: 180px;
    }
    #header .mobile .popup .close {
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 2;
        background: url(/img/site/img.png) no-repeat scroll -390px -60px;
        width: 30px;
        height: 30px;
    }
    #categories .item.big,
    #categories.small .item.big {
        height: 185px;
    }
    #categories .item.big .img img,
    #categories.small .item.big .img img {
        height: auto;
        width: auto;
    }
    #categories .item.big .img,
    #categories.small .item.big .img {
        width: 115px;
        right: 0;
        left: auto;
        bottom: 0;
        height: auto;
        top: auto;
    }
    #categories .item,
    #categories.small .item {
        height: 52px;
    }
    #categories .item .img,
    #categories.small .item .img {
        width: 120px;
        left: auto;
        right: -42px;
        bottom: auto;
        top: 0;
        height: 100%;
    }
    #categories .item .img img,
    #categories.small .item .img img {
        height: auto;
    }
    #categories .item .name,
    #categories.small .item .name {
        position: relative;
        z-index: 2;
        text-shadow: 1px 0 #ffeaea;
    }
    #categories .item:hover .name,
    #categories.small .item:hover .name {
        text-shadow: none;
    }
    #categories .item,
    #categories.small .item {
        float: left;
        overflow: hidden;
        width: 280px;
        margin: 0 0 14px 13px;
    }
    #categories .col,
    #categories.small .col {
        margin-right: 0;
    }
    #categories .col:first-child .item,
    #categories.small .col:first-child .item {
        margin: 0;
    }
    #advantages .item {
        font-size: 15px;
        padding-top: 92px;
    }
    #advantages .item:after {
        transform: scale(0.8);
    }
    #delivery-flowers .right {
        display: none;
    }
    #delivery-flowers .left {
        float: none;
        width: auto;
    }
    #footer .menu {
        margin: 45px 0 45px 22px;
        width: 333px;
    }
    #footer .menu li {
        margin-bottom: 7px;
    }
    #footer .social {
        margin-left: 8px;
    }
    #about-page .item .right, #about-page .item .left {
        float: none;
        width: auto;
    }
    #about-page .item img {
        display: none;
    }
    #about-page {
        font-size: 18px;
    }
    #about-page .item {
        margin: 15px 0;
    }
    #certificates .item {
        width: 31.5%;
    }
    #certificates .item img {
        max-width: 100%;
    }
    .articles-list {
        display: block;
    }
    .articles-list .item {
        float: none;
        width: auto;
        border-bottom: 1px solid #ffd2d2;
        margin: 0;
        padding: 22px 0;
    }
    .articles-list .item:after {
        clear: both;
        display: table;
        content: '';
    }
    .articles-list .item:first-child {
        padding-top: 0;
    }
    .articles-list .item:last-child {
        padding-bottom: 0;
        border: none;
    }
    #cart-page .box.right {
        width: 380px;
    }
    #cart-page .box.right .list .info {
        width: 238px;
    }
    #left {
        position: relative;
    }
    /*.filters-form {*/
        /*width: 270px;*/
        /*position: absolute;*/
        /*top: -20px;*/
        /*left: 50%;*/
        /*margin-left: -135px;*/
        /*background: #fff;*/
        /*z-index: 20;*/
        /*overflow: auto;*/
        /*display: none;*/

        /*-webkit-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .59);*/
        /*-moz-box-shadow: 0 0 24px 1px rgba(65, 56, 58, .59);*/
        /*box-shadow: 0 0 24px 1px rgba(65, 56, 58, .59);*/
    /*}*/
    /*.filters-form-overlay {*/
        /*position: fixed;*/
        /*left: 0;*/
        /*top: 0;*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*z-index: 19;*/
        /*background: rgba(51, 51, 51, 0.4);*/
        /*display: none;*/
    /*}*/

    .filters-form-link a {
        display: block;
        position: relative;
        text-indent: -9999px;
        line-height:  56px;
        font-size: 14px;
        color: #000000;
        text-transform: uppercase;
        border-radius: 4px;
    }
    .filters-form-link a:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: url(/img/site/img.png) no-repeat scroll 0 -210px;
        width: 60px;
        height: 60px;
        margin: -30px 0 0 -30px;
    }
    .filters-form-link {
        margin: 25px 0;
    }
    #delivery-page .right {
        display: none;
    }
    #delivery-page .left {
        float: none !important;
        width: auto;
    }
    #delivery-page .left img {
        display: block;
        margin: 30px auto 0;
    }
    #product-page .left {
        width: 370px;
    }
    #product-page .right {
        width: 470px;
    }

    body #header {
        padding-top: 0;
    }
}